{% extends 'base.html' %}
{% block content %}
<br>
<div class="container">
  <div class="row" align='center'>
    <div class="col-md">
      <div class="card card-body">
        <table class="table">
          <tr>
            <th>Product</th>
            <th>Cateogry</th>
            <th>Price</th>
          </tr>
          {% for product in products %}
              <tr>
                <td>{{product.name}}</td>
                <td>{{product.category}}</td>
                <td>{{product.price}}</td>
              </tr>
          {% endfor %}
        </table>
      </div>

    </div>

  </div>

</div>



{% endblock %}
